/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/01/2015, 9:08:40
    Author     : VMJorgeA
*/

body{
    background: url(../img/fondo.jpg);
    background-attachment: fixed;
}

#Cabecera{
    height: 250px;
    width: 750px;
}

#menu li{
    float: left;
    list-style: none;
    margin: 0 auto;
    padding: 1px;
}

#menu li a{
    display: block;
    height: 115px;
    width: 115px;
    text-align: center;
    text-decoration: none;
    line-height: 110px;
    background-image: url(../img/fondo-boton.png);
    background-size: 115px;
    color: #ffffff;
    border-radius: 100px;
}

#menu li a:hover{
    background-image: url(../img/icono-hover.png);
    color: #000000;
}